:root /*Paleta de cores principal do site*/
{
    --fundo: rgb(228, 219, 202);
    --Topo: rgb(227, 191, 88);
    --quad1: rgb(235, 231, 223);
    --quad2: rgb(248, 246, 242);
    --botao: rgb(223, 2, 2);
    --ClaroEscuro: rgb(131, 131, 131);

}

.darkmode /*Paleta de cores do modo noturo do site*/
{
    --fundo: rgb(24, 24, 24);
    --Topo: rgb(24, 24, 24);
    --quad1: rgb(38, 38, 38);
    --quad2: rgb(48, 48, 48);
    --botao: rgb(223, 2, 2);
    --cor-titulo: rgb(227, 191, 88);
    --cor-curiosidade: rgb(255, 255, 255);
    --ClaroEscuro: rgb(223, 204, 32);
}

body
{
    background-color: var(--fundo); /*Muda cor de fundo do site*/
}

.container /*Container é a classe que centraliza todo o site*/
{
    display: flex;
    justify-content: space-around; 
    align-items: center;   
    flex-direction: column;

    height: 100%;
    width: 100%;
}
.containerTitulo /*Cria o cabeçalho amarelo*/
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    background-color: var(--Topo); 
    width: 80%;
    height: 150px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.logo1 /*Logo ao lado do titulo do site*/
{
height: 100px;
float: left;
}

h1 /*Modifica o titulo do site*/
{
    font-size: 65px;
    color: var(--cor-titulo);
}

.cube /*Cria um espaço entre o fundo do site e o centro que aparece as curiosidades, meramente decorativo*/
{
    display: flex;
    justify-content: space-around; 
    align-items: center;  


    background-color: var(--quad1);
    width: 80%;
    height: 700px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#box1 /*Espaço com texto curiosidades e com o botão*/
{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    flex-direction: column;


    background-color: var(--quad2);
    width: 70%;
    height: 85%;
    border-radius: 40px; 
}

#box2Vermelho /*Botão vermelho pra gerar curiosidades*/
{
    background-color: var(--botao);
    width: 50%;
    height: 100px;
    border-radius: 28px;
    border-color: rgb(122, 11, 11);

    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    cursor: pointer;
}

#box2Vermelho:hover /*Muda cor quando passa o mouse em cima*/
{
    background-color: brown;
}


.textoC /*Texto principal do site*/
{
color: var(--cor-curiosidade);
font-size: 60px;
text-align: center;
}

.dado /*Imagem do dado no botão vermelho*/
{
    height: 50px;
    float: left;
}
.class /*Muda fonte, tamanho e cor do texto dentro do botão*/
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: aliceblue;
}

#theme-switch /*Classe responsavel por dar o formato do botão de troca de modo claro-escuro*/
{
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    padding: 0;
    align-items: center;
    position:absolute;
    right: 12%;
    border: none;
    cursor: pointer;
    background-color: var(--ClaroEscuro)
}
#theme-switch svg:last-child /*O botão tem duas imagens, essa some com a imagem de sol*/
{
    display: none;
}
.darkmode #theme-switch svg:first-child /*O botão tem duas imagens, essa some com a imagem de Lua*/
{
    display: none;
}
.darkmode #theme-switch svg:last-child /*Posiciona o sol no centro da imagem*/
{
    display: block;
}
